<h1>העגלה שלי</h1>
<!-- <div class="alert alert-info" *ngIf="cartItems$ === 0 | async">
  no item added yet
</div> -->
<div class="cart">
  <div>
    <!-- <app-products></app-products> -->
    <div >
      <ul *ngIf="cart$">
        <app-cart-item></app-cart-item>
      </ul>
    </div>
    <span *ngIf="cart$">סכום כולל: {{ totalPrice }}</span>
    <br />
    <button *ngIf="cart$" class="btn btn-primary" (click)="continueToOrder()">
      המשך להזמנה
    </button>
  </div>
</div>
<div>
  <!-- <h1>products List</h1>
  <div>*ngFor="let product of products"</div> -->
</div>
