<h1>העגלה שלי</h1>
<div class="alert alert-info" *ngIf="cartItems.length === 0">
  no item added yet
</div>
<div class="cart" *ngIf="cartItems.length > 0">
  <div>
    <!-- <app-products></app-products> -->
    <div *ngFor="let item of cartItems" class="cartItem">
      <!-- <li>id: {{ item.id }}</li>
      <li>price: {{ item.price }}</li>
      <li>qnt: {{ item.quantity }}</li> -->
    </div>
    <span>סכום כולל: {{ totalPrice }}</span>
    <br />
    <button class="btn btn-primary" (click)="continue()">המשך להזמנה</button>
  </div>
</div>
