<div class="cart">
  <h1>העגלה שלי</h1>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam praesentium
    nemo, officia fugit omnis, quam consectetur unde, iure esse quis temporibus
    facilis ea iste suscipit quo neque fuga sed molestiae.
    <div *ngFor="let item of cart">
      <p>{{ item.userId }}</p>
      <p>{{ item.cartProduct.constructor.name }}</p>
      <p>{{ item.userId }}</p>
    </div>
    <button class="btn" (click)="continue()">המשך להזמנה</button>
  </div>
</div>
