<h1>Login Page</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">אי-מייל</label>
    <input type="text" formControlName="email" id="email" class="form-group" />
  </div>
  <div class="form-group">
    <label for="password">סיסמא</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="form-group"
    />
  </div>
  <input type="submit" value="התחבר " />
  <a routerLink="/register">עדיין לא רשום? לחץ כאן!</a>
  <br />
</form>
<div></div>
