<div class="form">
  <h1>התחברות</h1>
  <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email"></label>
      <input
        placeholder="E-mail"
        type="text"
        formControlName="email"
        id="email"
        class="form-group"
      />
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        class="form-group"
      />
    </div>
    <input class="btn btn-primary" type="submit" value="התחבר" />
    <br />
    <a routerLink="/register">עדיין לא רשום? לחץ כאן!</a>
    <br />
  </form>
</div>
