<p>admin works!</p>

<h1> insert new Product</h1>
<form>
    <label for="category"> <input type="text" name="category" required> category </label>
    <br>
    <label for="name"> <input type="text" name="name" required> name </label>
    <br>
    <label for="imageUrl"> <input type="image" name="imageUrl" required> imageUrl </label>
    <br>
    <label for="price"> <input type="text" name="price" required> price </label>
    <br>
    <label for="description"> <input type="text" name="description" required> description </label>
    <br>
    <button (click)="onAdd()"> Add </button>
</form>

