<p>admin works!</p>

<h1> insert new Product</h1>
<form>
    <label for="category"> <input type="text" name="category" required="true"> category </label>
    <br>
    <label for="name"> <input type="text" name="name" required="true"> name </label>
    <br>
    <label for="imageUrl"> <input type="image" name="imageUrl" required="true"> imageUrl </label>
    <br>
    <label for="price"> <input type="text" name="price" required="true"> price </label>
    <br>
    <label for="description"> <input type="text" name="description" required="true"> description </label>
    <br>
    <button> Add </button>
</form>

