img {
  max-width: 150px;
  max-height: 150px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}
.container {
  background-color: darkslategray;
}
.card-body {
  max-height: 450px;
  overflow: hidden;
  padding: 1.25rem;
  text-align: center;
  border-radius: 15px;
}
.btn {
  position: static;
  bottom: 0px;
  left: auto;
}
.row {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  animation: animated-border 1.5s infinite;
  line-height: 30px;
  font-weight: bold;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  width: auto;
}
.categories {
  color: #f2f2f2;
  background-color: darkslateblue;
  text-align: center;
  padding: 14px 16px;
  border-radius: 15px;
  font-size: 45px;
  text-decoration: none;
  font-size: 17px;
}
.cat-btn {
  font-size: 30px;
  border-radius: 15px;
  margin-left: 10px;
}
.card-img-actions {
  position: relative;
}

.card-img {
  width: 350px;
}
.card-body {
  font-style: normal black;
  text-emphasis-color: black;
}
h1 {
  font-weight: 800;
  border: dotted 3px black;
  letter-spacing: 4px;
  border-radius: 5px;
}
