<div class="row">
  <div class="categories">
    <button type="button" (click)="getStrategyGames()">אסטרטגיה</button>
    <button type="button" (click)="showFamily()">לכל המשפחה</button>
    <button type="button" (click)="showCards()">קלפים</button>
    <button type="button" (click)="showFavorites()">מועדפים</button>
  </div>
  <div class="container" *ngFor="let i = index; let p; of: products$ | async">
    <div class="card-body p-4">
      <h1 class="card-body bg-light text-center">{{ p.name }}</h1>
      <h3>{{ p.categoryName }}</h3>
      <div>
        <img src="{{ p.imageUrl }}" class="img-fluid d-block mx-auto mb-3" />
      </div>
      <p class="medium text-muted font-italic">{{ p.description }}</p>
      <h3>₪ {{ p.price }}</h3>
      <button (click)="AddToCart()" id="{{ p._id }}">פרטים נוספים וקניה</button>
    </div>
  </div>
</div>
