<div class="categories">
  <button class="cat-btn" type="button" (click)="getStrategyGames()">אסטרטגיה</button>
  <button class="cat-btn" type="button" (click)="showFamily()">לכל המשפחה</button>
  <button class="cat-btn" type="button" (click)="showCards()">קלפים</button>
  <button class="cat-btn" type="button" (click)="showFavorites()">מועדפים</button>
</div>
<div class="row">
  <div class="container" *ngFor="let product of products$ | async; index as i">
    <div class="card-body">
      <h1>{{ product.name }}</h1>
      <h4>{{ product.categoryName }}</h4>
      <div>
        <img
          src="{{ product.imageUrl }}"
          class="img-fluid d-block mx-auto mb-3"
        />
      </div>
      <p class="medium text-muted font-italic">{{ product.description }}</p>
      <h3>₪ {{ product.price }}</h3>
    </div>
    <button class="btn btn-primary" (click)="AddToCart(product)" id="{{ product._id }}">
      פרטים נוספים וקניה
    </button>
  </div>
</div>
