<div>
  <h1>Registeration PAGE</h1>
  <div>
    <form action="post">
      <label for="email">ID</label>
      <input type="text" />
      <label for="email">Email</label>
      <input type="text" />
      <label for="email">Password</label>
      <input type="text" />
      <label for="email">Verify Password</label>
      <input type="text" />
      <button (click)="OnContinue()">Continue</button>
      <a href="register.component.html">already registered? click here!</a>
    </form>
  </div>
</div>
<app-products> dgdfgdfgdgdfg </app-products>
