<h1>עליי</h1>

<h2>
  שלום, אני יניב לוי, בן 31 מהצפון הרחוק. אני לומד תיכנות בשנה האחרונה, משהו
  בקורונה גרם לי לחשוב על כיוון חדש בחיים , אחרי שנים של עבודה במטבחים וילדים
  (בהתאמה). הבנתי שמה שאני באמת רוצה לעשות בחיים זה לתכנת. הדרך הייתה לא קלה,
  בלשון המעטה וזה הינו הפרוייקט האחרון שאני מגיש בלימודים האלה, בתקווה שהוא יהיה
  מספק. דרישות הפרוייקט היו הרבה מעבר למה שציפיתי, ולחלקים רבים בכלל לא הספקתי
  להגיע. הפרוייקט היה נורא מתסכל, קשה, מעייף ומייגע, אבל היו גם רגעים יפים של
  הצלחות קטנות שנתנו אופטימיות זעירה, כמו כן, כן למדתי ממנו המון.
</h2>

<h3>
  בניתי פה אתר באנגולר. האתר הוא בעצם חנות אונליין למכירה של משחקי קופסה, היו לי
  עוד רעיונות רבים איך אפשר לפתח את האתר. למשל חשבתי לעשות סקשן של החלפה ומכירה
  של משחקים בין אנשים, וגם מציאת חברים באזורך למשחק. לצערי לא הגעתי לזה, אבל אני
  לא אומר נואש, ואמשיך לעבוד על האתר הזה עד שהוא יהיה מושלם.
</h3>
