<div class="container card mt-4">

    <div class="card-body display-6 text-white mt-3" id="bngStyle">Register</div>
    <div id="image"></div>
    <!-- form 1 -->
    <form #registerForm1="ngForm" (ngSubmit)="onStageOneComplete(registerForm1)" *ngIf="!Register1" novalidate>
        <div class="card-body bg-dark  text-white mt-4">Step 1/2</div>
        <div class="form-group pt-3">
            <input
                type="text"
                name="cardId"
                class="form-control"
                minlength="9"
                maxlength="9"
                placeholder="ID Number (9 digits only)"
                pattern="^[0-9]+$"
                [ngClass]="{ 'is-invalid': cardId.errors && cardId.touched }"
                ngModel
                #cardId="ngModel"
                required
                />
                <div [hidden]="!cardId.errors?.required" class="invalid-feedback">Card ID is required</div>
                <div [hidden]="!cardId.errors?.pattern" class="invalid-feedback">Card ID Pattern is wrong</div>
                <div [hidden]="!cardId.errors?.minlength" class="invalid-feedback">Card ID must contain 9 digits</div>
        </div>

        <div class="form-group pt-3">
            <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Email"
                pattern="[a-z0-9!#$%&'+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'+/=?^_`{|}~-]+)@(?:[a-z0-9](?:[a-z0-9-][a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                [ngClass]="{ 'is-invalid': email.errors && email.touched }"
                ngModel
                #email="ngModel"
                required
                />
                <div [hidden]="!email.errors?.required" class="invalid-feedback">Email is required</div>
                <div [hidden]="!email.errors?.pattern" class="invalid-feedback">Email Pattern is wrong</div>
        </div>

        <div class="form-group pt-3">
            <input
                type="password"
                name="password"
                class="form-control"
                minlength="4"
                maxlength="15"
                placeholder="Password"
                [ngClass]="{ 'is-invalid': password.errors && password.touched }"
                ngModel
                #password="ngModel"
                required
                />
                <div [hidden]="!password.errors?.required" class="invalid-feedback">Password is required</div>
                <div [hidden]="!password.errors?.minlength" class="invalid-feedback">Password must contain 4-15 digits</div>
        </div>

        <div class="form-group pt-3">
            <input
                type="password"
                name="password2"
                class="form-control"
                minlength="4"
                maxlength="15"
                placeholder="Confirm Password"
                [ngClass]="{ 'is-invalid': password2.errors && password2.touched }"
                ngModel
                #password2="ngModel"
                required
                />
                <div [hidden]="!password2.errors?.required" class="invalid-feedback">Confirm Password is required</div>
                <div [hidden]="!password2.errors?.minlength" class="invalid-feedback">Confirm Password must contain 4-15 digits</div>
        </div>
        <button type="submit" class="btn mt-3 mb-4 text-white" id="btnStyle">Next</button>
    </form>

    <!-- form 2 -->
    <form #registerForm2="ngForm" (ngSubmit)="onRegisterUser(registerForm2)" *ngIf="Register1" novalidate>
        <div class="card-body bg-dark  text-white">Step 2/2</div>
        <div class="form-group pt-3">
            <input
                type="text"
                name="firstName"
                class="form-control"
                minlength="2"
                maxlength="15"
                placeholder="First Name"
                [ngClass]="{ 'is-invalid': firstName.errors && firstName.touched }"
                ngModel
                #firstName="ngModel"
                required
                />
                <div [hidden]="!firstName.errors?.required" class="invalid-feedback">First Name is required</div>
                <div [hidden]="!firstName.errors?.minlength" class="invalid-feedback">First Name length must contain 2-15 digits</div>
        </div>

        <div class="form-group pt-3">
            <input
                type="text"
                name="lastName"
                class="form-control"
                minlength="2"
                maxlength="15"
                placeholder="Last Name"
                [ngClass]="{ 'is-invalid': lastName.errors && lastName.touched }"
                ngModel
                #lastName="ngModel"
                required
                />
                <div [hidden]="!lastName.errors?.required" class="invalid-feedback">Last Name is required</div>
                <div [hidden]="!lastName.errors?.minlength" class="invalid-feedback">Last Name length must contain 2-15 digits</div>
        </div>

        <div class="form-group pt-3">
            <label for="city">Select city:</label>
            <select type="text" name="city" class="form-control" id="city" ngModel #city="ngModel" required>
              <option *ngFor="let city of cities" [ngValue]="city">{{ city }}</option>
            </select>
          </div>

        <div class="form-group pt-3">
            <input
                type="text"
                name="street"
                class="form-control"
                minlength="3"
                maxlength="15"
                placeholder="Street"
                [ngClass]="{ 'is-invalid': street.errors && street.touched }"
                ngModel
                #street="ngModel"
                required
                />
                <div [hidden]="!street.errors?.required" class="invalid-feedback">Street is required</div>
                <div [hidden]="!street.errors?.minlength" class="invalid-feedback">Street length must contain 3-15 digits</div>
        </div>
        <button type="submit" class="btn mt-3 mb-4 text-white" id="btnStyle">Register</button>
    </form>
    <div *ngIf="isEmptyWarning" class="alert alert-danger">{{ warning }}</div>
    <div *ngIf="isEmptySuccess" class="alert alert-success">{{ success }}</div></div>