:root {
  --primary: blue;
  --secondery: yellow;
}
.logout-btn {
  position: fixed;
  left: 0px;
  top: 0px;
  font-size: 20px;
  width: 70px;
  height: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  justify-content: space-around;
} */
.header {
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 50px;
}
.navLink {
  padding-left: 50px;
  border: 3px solid black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  margin-top: 0px;
  background-color: darkkhaki;
  /* margin: auto; */
  padding-top: 0%;
}

li {
  display: inline-block;
  justify-content: space-around;
  padding: 13px;
  font-size: 25px;
  margin: auto;
  padding: auto;
  list-style-type: none;
}
/*mobileStyle */
@media screen and (min-width: 620px) {
}
/*small tablet Style */
@media screen and (min-width: 620px) {
}
/*big tablet Style */
@media screen and (min-width: 960px) {
}
/*leptop Style */
@media screen and (min-width: 1200px) {
}
