<div *ngIf="CartService.cart$ | async as cart; else noCart">
  <div *ngFor="let item of cart?.products || []" class="cart">
    <div class="item">
      <h1>{{ item.product.name }}</h1>
      <img src="{{ item.product.imageUrl }}" class="img-fluid" />
      <h3>מחיר {{ item.product.price }}</h3>
      <h3>כמות {{ item.quantity }}</h3>
      <br />
      <button class="btn btn-danger" (click)="deleteFromCart(item.product)">
        הסר מהעגלה
      </button>
    </div>
  </div>
</div>

<ng-template #noCart>
  <div>העגלה ריקה. לחץ על מוצרים כדי להוסיפם לעגלה</div>
</ng-template>
